// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field_with_errors * {
  background: pink;
}

.author_info {
}

.comment_wrapper { border-top: 1px solid black;}
.comment_header { 
    overflow: hidden; 
    .number { float: left; }
    .author_info { margin-left: 5px; float: left;}
}
.comment_body { margin-left: 40px; }